* {
  margin: 0;
  border: 0;
  padding: 0;
  box-sizing: content-box;
  text-decoration: none;
  overflow: hidden;
  line-height: normal;
  overscroll-behavior: none;
}

html, body {
  background-color: black;
}

/* Font Face */

@font-face {
  font-family: "Pdark";
  src: url("../../../public/fonts/pdark.ttf") format("truetype");
}

/* Canvas */

canvas {
  width: 100%;
  height: 100%;
}

/* Join Page */

#join-page {
  top: 50%;
  left: 50%;
  position: fixed;
  transform: translateX(-50%) translateY(-50%);
  width: fit-content;
  height: fit-content;
  min-width: fit-content;
  min-height: fit-content;
  padding: 3rem;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: white;
  color: black;
}

#join-page-subtitle {
  font-size: 1rem;
  font-family: "Arvo";
}

#join-page-title {
  overflow: visible;
  font-size: 8rem;
  font-family: "Pdark";
  line-height: 8rem;
}

#room-id-input {
  margin: 1.5rem 0 0;
  border: none;
  font-size: 1.5rem;
  font-family: "Arvo";
  text-align: center;
}

#room-id-input:hover {
  opacity: 0.5;
  border-bottom: 0.1rem solid black;
  letter-spacing: 0.5rem;
  margin-right: -0.5rem;
  transition: all 0.4s ease 0s;
}

#room-id-input:focus {
  border-bottom: 0.1rem solid black;
  opacity: 0.5;
  letter-spacing: 0rem;
  margin-right: 0rem;
}

#room-id-input::placeholder {
  color: black;
  opacity: 1;
  background-color: white;
  font-size: 2rem;
  font-family: "Righteous";
  text-transform: uppercase;
  text-decoration: none;
}

#random-button {
  color: black;
  background-color: white;
  font-size: 2rem;
  font-family: "Righteous";
  text-transform: uppercase;
  text-decoration: none;
  transition: all 0.4s ease 0s;
}

#random-button:hover {
  letter-spacing: 1rem;
  margin-right: -1rem;
  transition: all 0.4s ease 0s;
}

#join-page-or {
  padding: 0.5rem 0;
  font-size: 1rem;
  font-family: "Arvo";
}

/* Character Page */

#crt-page {
  position: fixed;
  width: 80%;
  top: 50%;
  left: 50%;
  position: fixed;
  transform: translateX(-50%) translateY(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 30px;
  padding: 3rem;
  background-color: white;
}

#crt-page-title {
  padding: 0 0 1rem;
  font-size: 3rem;
  font-family: "Kalam";
  font-weight: bold;
}

#crt-page p {
  font-size: 2rem;
  font-family: "Kalam";
}

#crt-containers {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.crtContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 0.6rem;
  border-bottom: 0.5rem solid white;
  padding: 0 0.6rem;
}

.crtContainer:hover {
  transition: all 0.4s ease 0s;
  border-bottom: 0.5rem solid black;
}

.crtContainer img {
  width: 8rem;
  padding: 1rem 1rem 0;
}

.crtContainer p {
  font-size: 1.5rem;
  font-family: "Kalam";
}

#crt-page-or {
  border-bottom: none;
}

#crt-page-or p {
  padding: 2rem;
}

/* Rule Page */

#rule-page {
  top: 50%;
  left: 50%;
  position: fixed;
  transform: translateX(-50%) translateY(-50%);
  max-height: 85%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  border-radius: 30px;
  padding: 3rem;
  background-color: white;
}

#rule-page #rule-title {
  font-size: 3rem;
  line-height: 2rem;
  font-family: "Kalam";
}

#rule-page p {
  font-size: 1.5rem;
  line-height: 2rem;
  font-family: "Kalam";
}

#rule-page #blinker {
  padding: 1rem 0 0;
  color: crimson;
  text-transform: uppercase;
  font-size: 2rem;
  font-family: "Kalam";
}

/* Game Over */

#game-over-page {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.75);
}

#game-over-page div {
  top: 50%;
  left: 50%;
  position: fixed;
  transform: translateX(-50%) translateY(-50%);
  width: fit-content;
  height: fit-content;
  min-width: fit-content;
  min-height: fit-content;
  padding: 3rem;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: white;
  transition: all 0.4s ease 0s;
}

#game-over-page p {
  color: black;
  font-size: 5rem;
  font-family: "Pdark";
  letter-spacing: 3rem;
  margin-right: -3rem;
  text-transform: uppercase;
  padding: 1rem;
}

#game-over-page img {
  width: 20rem;
}

/* Alert Page */

#alert-page {
  top: 50%;
  left: 50%;
  position: fixed;
  transform: translateX(-50%) translateY(-50%);
  width: fit-content;
  height: fit-content;
  min-width: fit-content;
  min-height: fit-content;
  padding: 3rem;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: black;
}

#alert-title {
  color: crimson;
  font-size: 3rem;
  font-family: "Righteous";
  text-transform: uppercase;
}

#alert-button {
  margin: 1rem 1rem 0;
  padding: 0.5rem 3rem;
  border-radius: 30px;
  background-color: crimson;
  color: black;
  font-size: 2rem;
  font-family: "Righteous";
  text-decoration: none;
  transition: all 0.4s ease 0s;
}

#alert-button:hover {
  letter-spacing: 1rem;
  margin-right: -1rem;
  transition: all 0.4s ease 0s;
}

/* Other Stuff */

p span {
  text-decoration: line-through;
}

.hidden {
  display: none !important;
}

.transparent {
  width: 0;
  height: 0;
}

.blink {
  animation-duration: 0.8s;
  animation-name: blink;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: ease-in-out;
}

@keyframes blink {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

/* Mobile Devises */

/* @media screen and (max-width: 90%) {
  #join-page {
    padding: 10px 15px;
    min-width: 280px;
  }
  #disconnect-window>div {
    padding: 10px;
    min-width: 280px;
  }
} */