* {
  margin: 0;
  border: 0;
  padding: 0;
  box-sizing: content-box;
  text-decoration: none;
  overflow: hidden;
  line-height: normal;
  overscroll-behavior: none;
}

html, body {
  background-color: black;
}

/* Font Face */

@font-face {
  font-family: "Pdark";
  src: url("../../../public/fonts/pdark.ttf") format("truetype");
}

/* Canvas */

canvas {
  width: 100%;
  height: 100%;
}

/* Play Menu */

#play-menu {
  top: 50%;
  left: 50%;
  position: fixed;
  transform: translateX(-50%) translateY(-50%);
  width: fit-content;
  height: fit-content;
  min-width: fit-content;
  min-height: fit-content;
  padding: 3rem;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: white;
  color: black;
}

#play-menu #subtitle {
  font-size: 1rem;
  font-family: "Arvo";
}

#play-menu #title {
  overflow: visible;
  font-size: 8rem;
  font-family: "Pdark";
  line-height: 8rem;
}

#play-menu #room-id {
  margin: 1.5rem 0 0;
  border: none;
  font-size: 1.5rem;
  border-bottom: 0.1rem solid black;
  text-align: center;
}

#play-menu button {
  color: black;
  background-color: white;
  font-size: 2rem;
  font-family: "Righteous";
  text-transform: uppercase;
  text-decoration: none;
  transition: all 0.4s ease 0s;
}

#play-menu button:hover {
  letter-spacing: 3rem;
  margin-right: -3rem;
  transition: all 0.4s ease 0s;
}

/* Mode Menu */

#mode-menu {
  position: fixed;
  width: 80%;
  top: 50%;
  left: 50%;
  position: fixed;
  transform: translateX(-50%) translateY(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 30px;
  padding: 3rem;
  background-color: white;
  font-size: 2rem;
  font-family: "Permanent Marker";
}

#mode-menu #character-containers {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.characterContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 0.6rem;
  border-bottom: 0.5rem solid white;
  padding: 0 0.6rem;
  font-family: "Kalam";
}

.characterContainer:hover {
  transition: all 0.4s ease 0s;
  border-bottom: 0.5rem solid black;
}

.characterContainer img {
  width: 8rem;
  padding: 1rem;
}

.characterContainer p {
  font-size: 1.5rem;
}

/* Game Rule */

#game-rule {
  top: 50%;
  left: 50%;
  position: fixed;
  transform: translateX(-50%) translateY(-50%);
  max-height: 85%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  border-radius: 30px;
  padding: 2rem 3rem 1rem;
  background-color: white;
  font-size: 1.5rem;
  line-height: 3rem;
}

#game-rule p {
  font-family: "Kalam";
}

#game-rule #enter-game {
  text-transform: uppercase;
  font-size: 2rem;
  line-height: 3rem;
}

/* Game Over */

#gameover {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.75);
}

#gameover div {
  top: 50%;
  left: 50%;
  position: fixed;
  transform: translateX(-50%) translateY(-50%);
  width: fit-content;
  height: fit-content;
  min-width: fit-content;
  min-height: fit-content;
  padding: 3rem;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: white;
  transition: all 0.4s ease 0s;
}

#gameover div:hover p {
  letter-spacing: 3rem;
  margin-right: -3rem;
  transition: all 0.4s ease 0s;
}

#gameover p {
  color: black;
  font-size: 2rem;
  font-family: "Arvo";
  text-transform: uppercase;
}

#gameover img {
  width: 8rem;
}

/* Disconnect Window */

#disconnect-window {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.75);
}

#disconnect-window div {
  top: 50%;
  left: 50%;
  position: fixed;
  transform: translateX(-50%) translateY(-50%);
  width: fit-content;
  height: fit-content;
  min-width: fit-content;
  min-height: fit-content;
  padding: 3rem;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: white;
  color: black;
  font-family: "Arvo";
}

.gameover-board {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.75);
}

.gameover-board div {
  font-size: 45px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  padding: 25px 30px;
  background-color: white;
  border-radius: 5px;
  text-align: center;
}

.button1 {
  border: none;
  border-radius: 5px;
  margin-top: 10px;
  /* padding: 10px 20px 4px 20px; */
  display: inline-block;
  color: black !important;
  background-color: white;
  font-size: 30px;
  font-family: "Nest";
}

#disconnect-window button {
  color: black;
  background-color: white;
  font-size: 2rem;
  font-family: "Righteous";
  text-transform: uppercase;
  text-decoration: none;
  transition: all 0.4s ease 0s;
}

#disconnect-window button:hover {
  letter-spacing: 3rem;
  margin-right: -3rem;
  transition: all 0.4s ease 0s;
}

/* Other Stuff */

.hidden {
  display: none !important;
}

.blink {
  animation-duration: 1s;
  animation-name: blink;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: ease-in-out;
}

@keyframes blink {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

/* Mobile Devises */

/* @media screen and (max-width: 90%) {
  #play-menu {
    padding: 10px 15px;
    min-width: 280px;
  }
  #disconnect-window>div {
    padding: 10px;
    min-width: 280px;
  }
} */